<interface origin="compat:suse:/tests/ipv4+6_dhcp2/netconfig/ifcfg-eth9">
  <name>eth9</name>
  <control>
    <mode>boot</mode>
  </control>
  <link/>
  <ipv4>
    <enabled>true</enabled>
  </ipv4>
  <ipv4:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>default-route,dns,nis,ntp,nds,mtu,tz,boot</update>
    <recover-lease>true</recover-lease>
    <release-lease>false</release-lease>
  </ipv4:dhcp>
  <ipv6>
    <enabled>true</enabled>
    <privacy>prefer-public</privacy>
  </ipv6>
  <ipv6:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>dns,nis,ntp,tz,boot</update>
    <mode>auto</mode>
    <rapid-commit>true</rapid-commit>
    <recover-lease>true</recover-lease>
    <refresh-lease>false</refresh-lease>
    <release-lease>false</release-lease>
  </ipv6:dhcp>
</interface>
