<interface origin="compat:suse:/tests/broadcast/netconfig/ifcfg-eth9">
  <name>eth9</name>
  <control>
    <mode>manual</mode>
  </control>
  <link/>
  <ipv4>
    <enabled>true</enabled>
  </ipv4>
  <ipv4:static>
    <address>
      <local>192.168.99.5/24</local>
      <broadcast>192.168.99.255</broadcast>
    </address>
  </ipv4:static>
  <ipv6>
    <enabled>true</enabled>
    <privacy>prefer-public</privacy>
  </ipv6>
</interface>
