<interface origin="compat:suse:/tests/dhcp4_client_id/netconfig/ifcfg-eth6">
  <name>eth6</name>
  <control>
    <mode>boot</mode>
  </control>
  <link/>
  <ipv4>
    <enabled>true</enabled>
  </ipv4>
  <ipv4:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>default-route,dns,nis,ntp,nds,mtu,tz,boot</update>
    <recover-lease>true</recover-lease>
    <release-lease>false</release-lease>
  </ipv4:dhcp>
  <ipv6>
    <enabled>true</enabled>
    <privacy>prefer-public</privacy>
  </ipv6>
  <ipv6:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>dns,nis,ntp,tz,boot</update>
    <mode>auto</mode>
    <rapid-commit>true</rapid-commit>
    <recover-lease>true</recover-lease>
    <refresh-lease>false</refresh-lease>
    <release-lease>false</release-lease>
  </ipv6:dhcp>
</interface>
<interface origin="compat:suse:/tests/dhcp4_client_id/netconfig/ifcfg-eth5">
  <name>eth5</name>
  <control>
    <mode>boot</mode>
  </control>
  <link/>
  <ipv4>
    <enabled>true</enabled>
  </ipv4>
  <ipv4:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>default-route,dns,nis,ntp,nds,mtu,tz,boot</update>
    <recover-lease>true</recover-lease>
    <release-lease>false</release-lease>
    <client-id>52:54:00:dc:8e:94</client-id>
  </ipv4:dhcp>
  <ipv6>
    <enabled>true</enabled>
    <privacy>prefer-public</privacy>
  </ipv6>
  <ipv6:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>dns,nis,ntp,tz,boot</update>
    <mode>auto</mode>
    <rapid-commit>true</rapid-commit>
    <recover-lease>true</recover-lease>
    <refresh-lease>false</refresh-lease>
    <release-lease>false</release-lease>
  </ipv6:dhcp>
</interface>
<interface origin="compat:suse:/tests/dhcp4_client_id/netconfig/ifcfg-eth9">
  <name>eth9</name>
  <control>
    <mode>boot</mode>
  </control>
  <link/>
  <ipv4>
    <enabled>true</enabled>
  </ipv4>
  <ipv4:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>default-route,dns,nis,ntp,nds,mtu,tz,boot</update>
    <recover-lease>true</recover-lease>
    <release-lease>false</release-lease>
    <create-cid>rfc4361</create-cid>
  </ipv4:dhcp>
  <ipv6>
    <enabled>true</enabled>
    <privacy>prefer-public</privacy>
  </ipv6>
  <ipv6:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>dns,nis,ntp,tz,boot</update>
    <mode>auto</mode>
    <rapid-commit>true</rapid-commit>
    <recover-lease>true</recover-lease>
    <refresh-lease>false</refresh-lease>
    <release-lease>false</release-lease>
  </ipv6:dhcp>
</interface>
<interface origin="compat:suse:/tests/dhcp4_client_id/netconfig/ifcfg-eth7">
  <name>eth7</name>
  <control>
    <mode>boot</mode>
  </control>
  <link/>
  <ipv4>
    <enabled>true</enabled>
  </ipv4>
  <ipv4:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>default-route,dns,nis,ntp,nds,mtu,tz,boot</update>
    <recover-lease>true</recover-lease>
    <release-lease>false</release-lease>
    <create-cid>disable</create-cid>
  </ipv4:dhcp>
  <ipv6>
    <enabled>true</enabled>
    <privacy>prefer-public</privacy>
  </ipv6>
  <ipv6:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>dns,nis,ntp,tz,boot</update>
    <mode>auto</mode>
    <rapid-commit>true</rapid-commit>
    <recover-lease>true</recover-lease>
    <refresh-lease>false</refresh-lease>
    <release-lease>false</release-lease>
  </ipv6:dhcp>
</interface>
<interface origin="compat:suse:/tests/dhcp4_client_id/netconfig/ifcfg-eth8">
  <name>eth8</name>
  <control>
    <mode>boot</mode>
  </control>
  <link/>
  <ipv4>
    <enabled>true</enabled>
  </ipv4>
  <ipv4:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>default-route,dns,nis,ntp,nds,mtu,tz,boot</update>
    <recover-lease>true</recover-lease>
    <release-lease>false</release-lease>
    <create-cid>rfc2132</create-cid>
  </ipv4:dhcp>
  <ipv6>
    <enabled>true</enabled>
    <privacy>prefer-public</privacy>
  </ipv6>
  <ipv6:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>dns,nis,ntp,tz,boot</update>
    <mode>auto</mode>
    <rapid-commit>true</rapid-commit>
    <recover-lease>true</recover-lease>
    <refresh-lease>false</refresh-lease>
    <release-lease>false</release-lease>
  </ipv6:dhcp>
</interface>
