<interface origin="compat:suse:/tests/bond_bridge_vlan/netconfig/ifcfg-bond0">
  <name>bond0</name>
  <control>
    <mode>boot</mode>
  </control>
  <bond>
    <mode>active-backup</mode>
    <miimon>
      <frequency>100</frequency>
      <carrier-detect>netif</carrier-detect>
    </miimon>
    <address>d2:5e:fe:ed:de:ad</address>
  </bond>
  <link>
    <master>br0</master>
    <port type="bridge"/>
    <mtu>9000</mtu>
  </link>
  <ipv4>
    <enabled>false</enabled>
  </ipv4>
  <ipv6>
    <enabled>false</enabled>
  </ipv6>
</interface>
<interface origin="compat:suse:/tests/bond_bridge_vlan/netconfig/ifcfg-br0">
  <name>br0</name>
  <control>
    <mode>boot</mode>
  </control>
  <bridge>
    <stp>false</stp>
  </bridge>
  <link>
    <mtu>9000</mtu>
  </link>
  <ipv4>
    <enabled>true</enabled>
  </ipv4>
  <ipv4:static>
    <address>
      <local>10.0.2.2/15</local>
    </address>
  </ipv4:static>
  <ipv6>
    <enabled>true</enabled>
    <privacy>prefer-public</privacy>
  </ipv6>
</interface>
<interface origin="compat:suse:/tests/bond_bridge_vlan/netconfig/ifcfg-br0.2002">
  <name>br0.2002</name>
  <control>
    <mode>boot</mode>
  </control>
  <vlan>
    <device>br0</device>
    <protocol>ieee802-1Q</protocol>
    <tag>2002</tag>
  </vlan>
  <link>
    <mtu>9000</mtu>
  </link>
  <ipv4>
    <enabled>true</enabled>
  </ipv4>
  <ipv4:static>
    <address>
      <local>192.0.2.131/24</local>
    </address>
  </ipv4:static>
  <ipv6>
    <enabled>true</enabled>
    <privacy>prefer-public</privacy>
  </ipv6>
  <ipv6:static>
    <address>
      <local>fddd:c000:200::131/64</local>
    </address>
  </ipv6:static>
</interface>
<interface origin="compat:suse:/tests/bond_bridge_vlan/netconfig/ifcfg-en0">
  <name>en0</name>
  <control>
    <mode>hotplug</mode>
  </control>
  <link>
    <master>bond0</master>
    <port type="bond"/>
  </link>
  <ipv4>
    <enabled>false</enabled>
  </ipv4>
  <ipv6>
    <enabled>false</enabled>
  </ipv6>
</interface>
<interface origin="compat:suse:/tests/bond_bridge_vlan/netconfig/ifcfg-en1">
  <name>en1</name>
  <control>
    <mode>hotplug</mode>
  </control>
  <link>
    <master>bond0</master>
    <port type="bond"/>
  </link>
  <ipv4>
    <enabled>false</enabled>
  </ipv4>
  <ipv6>
    <enabled>false</enabled>
  </ipv6>
</interface>
