<interface origin="compat:suse:/etc/sysconfig/network/ifcfg-en0">
  <name>en0</name>
  <control>
    <mode>boot</mode>
  </control>
  <firewall/>
  <link>
    <master>br0</master>
  </link>
  <ipv4>
    <enabled>false</enabled>
  </ipv4>
  <ipv6>
    <enabled>false</enabled>
  </ipv6>
</interface>
<interface origin="compat:suse:/etc/sysconfig/network/ifcfg-en1">
  <name>en1</name>
  <control>
    <mode>boot</mode>
  </control>
  <firewall/>
  <link>
    <master>br0</master>
  </link>
  <ipv4>
    <enabled>false</enabled>
  </ipv4>
  <ipv6>
    <enabled>false</enabled>
  </ipv6>
</interface>
<interface origin="compat:suse:/etc/sysconfig/network/ifcfg-br0">
  <name>br0</name>
  <control>
    <mode>boot</mode>
  </control>
  <firewall/>
  <bridge>
    <stp>false</stp>
    <priority>5</priority>
    <forward-delay>3.20</forward-delay>
    <aging-time>1.20</aging-time>
    <hello-time>1.10</hello-time>
    <max-age>40.30</max-age>
    <ports>
      <port>
        <device>en0</device>
        <priority>9</priority>
        <path-cost>2</path-cost>
      </port>
      <port>
        <device>en1</device>
        <priority>0</priority>
      </port>
    </ports>
  </bridge>
  <link/>
  <ipv4>
    <enabled>true</enabled>
    <arp-verify>true</arp-verify>
  </ipv4>
  <ipv4:static>
    <address>
      <local>10.0.0.1/24</local>
    </address>
  </ipv4:static>
  <ipv6>
    <enabled>true</enabled>
    <privacy>prefer-public</privacy>
    <accept-redirects>false</accept-redirects>
  </ipv6>
</interface>

