<interface origin="compat:suse:/tests/ipv6_auto/netconfig/ifcfg-eth7">
  <name>eth7</name>
  <control>
    <mode>boot</mode>
  </control>
  <link/>
  <ipv4>
    <enabled>true</enabled>
  </ipv4>
  <ipv6>
    <enabled>true</enabled>
    <privacy>prefer-public</privacy>
  </ipv6>
  <ipv6:auto>
    <enabled>true</enabled>
    <update>dns</update>
  </ipv6:auto>
</interface>
