<interface origin="compat:suse:/tests/dhcp4_default_route/netconfig/ifcfg-eth10">
  <name>eth10</name>
  <control>
    <mode>boot</mode>
  </control>
  <link/>
  <ipv4>
    <enabled>true</enabled>
  </ipv4>
  <ipv4:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>default-route,hostname,dns,nis,ntp,nds,mtu,tz,boot</update>
    <recover-lease>true</recover-lease>
    <release-lease>false</release-lease>
  </ipv4:dhcp>
  <ipv6>
    <enabled>true</enabled>
    <privacy>prefer-public</privacy>
  </ipv6>
  <ipv6:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>hostname,dns,nis,ntp,tz,boot</update>
    <mode>auto</mode>
    <rapid-commit>true</rapid-commit>
    <recover-lease>true</recover-lease>
    <refresh-lease>false</refresh-lease>
    <release-lease>false</release-lease>
  </ipv6:dhcp>
</interface>
<interface origin="compat:suse:/tests/dhcp4_default_route/netconfig/ifcfg-eth9">
  <name>eth9</name>
  <control>
    <mode>boot</mode>
  </control>
  <link/>
  <ipv4>
    <enabled>true</enabled>
  </ipv4>
  <ipv4:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>hostname,dns,nis,ntp,nds,mtu,tz,boot</update>
    <recover-lease>true</recover-lease>
    <release-lease>false</release-lease>
  </ipv4:dhcp>
  <ipv4:static>
    <address>
      <local>192.168.2.123/24</local>
    </address>
    <route>
      <destination>192.168.2.0/24</destination>
    </route>
    <route>
      <destination>10.23.2.0/24</destination>
      <nexthop>
        <gateway>192.168.2.200</gateway>
      </nexthop>
    </route>
    <route>
      <destination>0.0.0.0/0</destination>
      <nexthop>
        <gateway>192.168.2.1</gateway>
      </nexthop>
    </route>
  </ipv4:static>
  <ipv6>
    <enabled>true</enabled>
    <privacy>prefer-public</privacy>
  </ipv6>
  <ipv6:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>hostname,dns,nis,ntp,tz,boot</update>
    <mode>auto</mode>
    <rapid-commit>true</rapid-commit>
    <recover-lease>true</recover-lease>
    <refresh-lease>false</refresh-lease>
    <release-lease>false</release-lease>
  </ipv6:dhcp>
</interface>
