<interface origin="compat:suse:/tests/ovs-bridge1/netconfig/ifcfg-br0">
  <name>br0</name>
  <control>
    <mode>boot</mode>
  </control>
  <ovs-bridge/>
  <link/>
  <ipv4>
    <enabled>true</enabled>
  </ipv4>
  <ipv4:static>
    <address>
      <local>10.0.2.2/15</local>
    </address>
  </ipv4:static>
  <ipv6>
    <enabled>true</enabled>
    <privacy>prefer-public</privacy>
  </ipv6>
</interface>
<interface origin="compat:suse:/tests/ovs-bridge1/netconfig/ifcfg-tap20">
  <name>tap20</name>
  <control>
    <mode>boot</mode>
  </control>
  <tap>
    <owner>0</owner>
    <group>0</group>
  </tap>
  <link>
    <master>br0</master>
    <port type="ovs-bridge"/>
  </link>
  <ipv4>
    <enabled>false</enabled>
  </ipv4>
  <ipv6>
    <enabled>false</enabled>
  </ipv6>
</interface>
<interface origin="compat:suse:/tests/ovs-bridge1/netconfig/ifcfg-tap10">
  <name>tap10</name>
  <control>
    <mode>boot</mode>
  </control>
  <tap>
    <owner>0</owner>
    <group>0</group>
  </tap>
  <link>
    <master>br0</master>
    <port type="ovs-bridge"/>
  </link>
  <ipv4>
    <enabled>false</enabled>
  </ipv4>
  <ipv6>
    <enabled>false</enabled>
  </ipv6>
</interface>
