<interface origin="compat:suse:/tests/dhcp_and_static_ip/netconfig/ifcfg-eth9">
  <name>eth9</name>
  <control>
    <mode>boot</mode>
  </control>
  <link/>
  <ipv4>
    <enabled>true</enabled>
  </ipv4>
  <ipv4:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>default-route,hostname,dns,nis,ntp,nds,mtu,tz,boot</update>
    <recover-lease>true</recover-lease>
    <release-lease>false</release-lease>
  </ipv4:dhcp>
  <ipv4:static>
    <address>
      <local>192.168.99.24/24</local>
    </address>
    <address>
      <local>192.168.100.24/24</local>
    </address>
  </ipv4:static>
  <ipv6>
    <enabled>true</enabled>
    <privacy>prefer-public</privacy>
  </ipv6>
  <ipv6:dhcp>
    <enabled>true</enabled>
    <flags>group</flags>
    <update>hostname,dns,nis,ntp,tz,boot</update>
    <mode>auto</mode>
    <rapid-commit>true</rapid-commit>
    <recover-lease>true</recover-lease>
    <refresh-lease>false</refresh-lease>
    <release-lease>false</release-lease>
  </ipv6:dhcp>
  <ipv6:static>
    <address>
      <local>fd00::192:168:99:24/64</local>
    </address>
    <address>
      <local>fd00::192:168:100:24/64</local>
    </address>
  </ipv6:static>
</interface>
